/* Точки перехода */

/**
* Значение $width-max - ширина десктопного макета или же то, которое указано в карточке проекта
* Остальные значения не трогаем
*/

$width-max: 1920px;
$width-desktop: 1024px;
$width-tablet: 768px;
$min-width: 320px;

/* Параметры для Retina */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Цвета */

/**
* Для переменных, в которых хранятся цвета указываем префикс color ($color-[цвет])
*/

$color-white: #ffffff;
$color-black: #000000;

/**
* Если нужны переменные для шрифтов, то указываем их в файле fonts.scss
*/
